<!-- views/home/about.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>이 사이트는 <a href="#">ZZoSuke가</a> 작성하였습니다!</p>

    </div>
  </body>
</html>